<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
        Known app packages so installed app icons can be resolved via
        PackageManager on Android 11+ (API 30+). When the Accessibility
        service / backend is connected, this list will be replaced by the
        data source and needs no UI changes.
    -->
    <queries>
        <package android:name="com.instagram.android" />
        <package android:name="com.whatsapp" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.facebook.katana" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.snapchat.android" />
        <package android:name="com.discord" />
        <package android:name="com.spotify.music" />
        <package android:name="com.google.android.gm" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ShortsCap"
        android:theme="@style/Theme.ShortsCap"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ShortsCap"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
